@import '../../common-styles/variables';

.authorize-buttons {
  display: flex;
  align-items: center;
  gap: 19px;
}
.button {
  cursor: pointer;
  font-family: $font-family__secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  background: none;
  border: none;
  padding: 8px 18px;
}
.profile {
}
.sign-in {
}
.sign-up {
  color: #52c41a;
}
.log-out {
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.article-button {
  padding: 0;
  width: 112px;
  height: 31px;
  border: 1px solid #52c41a;
  border-radius: 5px;
  font-family: $font-family__secondary;
  font-size: 14px;
  line-height: 22px;
  color: #52c41a;
}
.sign-up {
  border: 1px solid #52c41a;
  border-radius: 5px;
}
