body {
  background: #ebeef3;
  margin: 0;
}
.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.pagination {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
  height: 40px;
}
.ant-pagination-item-active {
  background-color: #1890ff !important;
}
.ant-pagination-item-active a {
  color: white !important;
}
