@import '../../common-styles/variables';

.articles-list {
  max-width: 941px;
  min-height: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 26px;
}
.pagination {
  text-align: center;
  font-family: $font-family__secondary;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
  height: 40px;
}
